<!doctype html>
<html>
<head>
    <title>Espro - Minuto do Instrutor</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel="stylesheet" type="text/css" href="css/mobile.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CWBFDWML25"></script>
        <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'G-CWBFDWML25');
        </script>
</head>
<body>
    <section id="page" class="portrait">
        <!--div class="bgheader"></div-->
        <header>
            <div class="topheader">
                <div class="logo"></div>
                <div class="infos">13.NOV.2025 - #69</div>
            </div>
            <div class="inner-header wrapper">
                <div class="header-title">
                    <h1>Minuto do Instrutor</h1>
                    <h4>Um espaço para trocas, reflexões e informações!</h4>
                </div>
            </div>
        </header>
        <div class="box  box-white wrapper">
            <div class="article">
                <div class="article-title-icon">
                    <h3 class="icontitle">Fala aí, <br>Instrutor</h3>
                </div>
                <div class="photo photo-left">
                    <img src="img/img1.jpg" title="Um grupo de adolescentes e jovens está reunido, posando em um terraço ao ar livre com a paisagem urbana de prédios altos ao fundo sob um céu encoberto. A maioria veste roupas casuais, destacando-se camisetas azuis escuras. O grupo está de pé perto de um parapeito com vasos de plantas."/>
                </div>
                <h3>Visita cultural e dia do Espro Kids: arte, infância e conexão em movimento!</h3>
                <p>A <strong>turma 16286</strong>, do polo de Sorocaba (SP), viveu um dia especial de imersão cultural no Sesc Sorocaba no dia 9 de outubro. A ação, conduzida pela instrutora Priscila Amaral e pela assistente social Fabiola Campos, uniu arte, cultura e esporte em uma experiência educativa marcante. Os jovens visitaram a exposição “Dos Artistas a Francisco Matarazzo Sobrinho – Ciccillo”, que apresentou 48 obras modernistas, e participaram do Espro Kids, que incentivou releituras artísticas e atividades esportivas em grupo.</p>
                <p>Mais que um passeio, o encontro reforçou o valor da arte e da convivência como ferramenta de formação integral, promovendo aprendizado, criatividade e cooperação entre jovens e crianças.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1mSUxI8swrfcvNc2jv42j6tm9mtPO9qSp" target="_blank">Confira registros da ação</a>
            </div>

            <div class="divisor divisor-blue"></div>

            <div class="article">
                <div class="photo photo-right">
                    <img class="rounded" src="img/img2.jpg" title="A foto, tirada de um ângulo elevado, captura um evento no palco com um auditório cheio de pessoas, onde um homem de terno cinza discursa sob luzes cênicas verdes e roxas. Um grande painel de LED ao fundo exibe o logo ‘REC 'N' PLAY 2025’ com gráficos coloridos e vibrantes. O local tem piso de madeira e dois andares visíveis, com o público atento assistindo à apresentação." />
                </div>
                <h3>Jovens vivem experiência de inovação no REC’n’Play 2025</h3>
                <p>Os jovens do Espro participaram do REC’n’Play 2025, evento que reuniu experiências tecnológicas, palestras inspiradoras e conexões com o mercado de inovação. A vivência mostrou como o contato com novas ideias estimula o aprendizado prático e o protagonismo juvenil.</p>
                <p>Cada atividade reforçou o poder da criatividade e do conhecimento aplicado, despertando nos jovens o desejo de ocupar espaços onde o futuro acontece e de transformar o aprendizado em ação.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1-F5825BkWeglmLQ2NzdvYp4uhQmlyYFd" target="_blank">Veja fotos do evento</a>
            </div>
            <div class="divisor divisor-blue"></div>

            <div class="article">
                <div class="photo photo-left">
                    <img src="img/img3.jpg" title="Oito mulheres posam juntas e sorridentes em um ambiente interno, que está decorado com um tema do Outubro Rosa, visível na parede cor-de-rosa com a escrita ‘PREVINA-SE’ e ‘OUTUBRO ROSA’. A maioria veste camisetas azuis-marinho do Espro."/>
                </div>
                <h3>Outubro Rosa em Recife: conscientização e muita criatividade</h3>
                <p>A <strong>turma 015111</strong>, da unidade de Recife (PE), abraçou o Outubro Rosa com a criação de um painel instagramável para conscientizar sobre a prevenção e o diagnóstico precoce do câncer de mama. A iniciativa envolveu todos os colaboradores, promovendo informação e engajamento por meio da arte.</p>
                <p>A ação reforçou a importância da empatia e do cuidado coletivo, mostrando que pequenas atitudes podem gerar grandes impactos na promoção da saúde e da solidariedade.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1b4DxBZtOo5f8tUtjbhhHH2C9BE_dxsa5" target="_blank">Confira registros desse dia especial</a>
            </div>
            <div class="divisor divisor-blue"></div>

            <div class="article">
                <div class="photo photo-right">
                    <img src="img/img4.jpg" title="Um grupo de aproximadamente quinze jovens adultos, a maioria vestindo camisetas azul-marinho do Espro, posa em uma linha horizontal em um ambiente interno. Um homem no centro do grupo, ligeiramente à frente e agachado, veste uma camisa marrom. O fundo escuro é dominado por uma grande pintura histórica à esquerda e uma parede simples em tom vermelho-tijolo à direita."/>
                </div>
                <h3>História viva: jovens visitam o Arquivo Público Estadual de Recife</h3>
                <p>A <strong>turma 013288</strong>, de Recife (PE), participou de uma visita ao Arquivo Público Estadual, em que puderam conhecer e ter acesso a documentos e registros históricos da Revolução Pernambucana. O encontro conectou os jovens à história e à importância da preservação da memória cultural.</p>
                <p>Durante a atividade, os jovens também gravaram um vídeo com a frase “Jovem Aprendiz não é gasto, é investimento no amanhã”, destacando o valor do programa de aprendizagem como porta para a transformação social.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1Y9-lWL-VRBisLRNXhCRqyV5N5R4q82MW" target="_blank">Veja fotos da visita</a>
            </div>
            <div class="divisor divisor-blue"></div>

            <div class="article">
                <div class="photo photo-left">
                    <img src="img/img5.jpg" title="Três troféus idênticos, com design moderno e base preta, estão dispostos lado a lado sobre uma superfície de grama sintética. Cada troféu exibe uma placa circular preta com o logotipo colorido ‘11º FESTIVAL DE TALENTOS Amadores FECTIPA/MG 2025’ e figuras humanas estilizadas. O fundo é de um azul sólido e liso, e uma medalha de premiação é visível no canto inferior direito."/>
                </div>
                <h3>Talento e expressão: o Espro conquista 3º lugar no Festival FECTIPA 2025</h3>
                <p>O Espro brilhou no Festival de Talentos Amadores FECTIPA 2025, realizado no Sesc Palladium, em Belo Horizonte, conquistando o 3º lugar na categoria Dança. A apresentação dos jovens Ian Queiroga e Rickelme Henrique encantou o público com técnica e emoção.</p>
                <p>O evento reuniu mais de 800 jovens artistas, celebrando o protagonismo e a criatividade. A conquista simboliza o compromisso da nossa instituição em desenvolver não apenas competências profissionais, mas também o potencial artístico e humano de seus jovens.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1Cx364LwJZanaUjKJcqyZSnKYDa2dmIKf" target="_blank">Confira registros do festival</a>
            </div>
            <div class="divisor divisor-blue"></div>

            <div class="article">
                <div class="photo photo-right">
                    <img src="img/img6.jpg" title="Uma mulher e uma jovem posam lado a lado em um ambiente interno simples, com a mulher da esquerda vestindo uma camisa rosa vibrante e segurando um ‘Certificado de Participação’ com as duas mãos. A jovem, à direita, veste uma camiseta do Espro e calças claras. Ambas estão sorrindo para a câmera."/>
                </div>
                <h3>Outubro Rosa em Ibiúna: informação e inspiração transformando vidas</h3>
                <p>A <strong>turma 16117</strong>, do instrutor José Renato Brants, do polo de Ibiúna (SP), participou da palestra “Um toque pode salvar a sua vida: prevenir é amar a si mesma!”, conduzida pela socorrista aposentada Marleine Ikeda. O encontro integrou a campanha Outubro Rosa e emocionou os jovens com uma mensagem de esperança e autocuidado.</p>
                <p>O diálogo reforçou a importância da prevenção do câncer e do diagnóstico precoce, despertando a consciência sobre o amor-próprio e o cuidado com a saúde física e emocional.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1o-3dCHWgBBs2V9c-qAdODlsKOgZJrkB2" target="_blank">Vejas fotos da palestra</a>
            </div>
            <div class="divisor divisor-blue"></div>

            <div class="article">
                <div class="photo photo-left">
                    <img src="img/img7.jpg" title="Uma captura de tela de uma reunião online, mostrando três participantes principais em quadros retangulares e uma lista de participantes à direita. Um dos quadros exibe um grupo de estudantes sentados em uma sala de aula de fundo branco com detalhes azuis. Os outros dois quadros focam em close-ups faciais de duas mulheres, Vaneska e Melissa, sendo uma de óculos com um fundo de madeira e a outra de cabelos cacheados."/>
                </div>
                <h3>Jovem ministra palestra sobre educação alimentar</h3>
                <p>A jovem Melissa Tavares, da <strong>turma 13119</strong> do polo de Mogi Guaçu (SP), da instrutora Vaneska Regina Faustinoni, conduziu uma palestra virtual sobre Educação Alimentar para a <strong>turma 16676</strong> da unidade de Campinas (SP). A atividade abordou leitura de rótulos, hábitos saudáveis e a importância da nutrição no desempenho diário.</p>
                <p>A ação fortaleceu a integração entre unidades e destacou o protagonismo juvenil. Melissa demonstrou liderança e domínio do tema, além de inspirar os colegas a adotarem escolhas mais conscientes e saudáveis.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1ANGbKw_eklmYxCHXp9u8SzBza-YwYyV3" target="_blank">Confira prints da palestra <i>online</i></a>
            </div>
            <div class="divisor divisor-blue"></div>

            <div class="article">
                <div class="photo photo-right">
                    <img src="img/img8.jpg" title="Foto de um grupo de estudantes sentados em cadeiras universitárias, assistindo a uma apresentação em uma sala ampla de paredes brancas. Na frente do quadro, sobre uma mesa, há diversos produtos à venda. Uma faixa azul com o logotipo ‘UNINTER CENTRO UNIVERSITÁRIO’ é visível à direita."/>
                </div>
                <h3>Ideias e oportunidades: jovens aprendem sobre empreendedorismo na prática</h3>
                <p>Durante uma atividade inspiradora, a <strong>turma 16402</strong>, do polo de Ibiúna (SP), refletiu sobre o verdadeiro significado de empreender: transformar ideias em oportunidades. O encontro contou com a presença de uma franqueada da Cacau Show, que apresentou o modelo de revenda da marca.</p>
                <p>Os jovens aprenderam que o empreendedorismo é feito de atitude, criatividade e visão, saindo motivados a construir o futuro com autonomia e protagonismo.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1CsjdXoNRxnlujzyyKjit3rrMFXL1OCRD" target="_blank">Veja fotos do momento</a>
            </div>
            <div class="divisor divisor-blue"></div>

            <div class="article">
                <div class="photo photo-left">
                    <img src="img/img9.jpg" title="Foto de uma sessão de discussão em sala de treinamento, com dois jovens sentados frente a frente em cadeiras escolares, em uma conversa. Ao redor, outros quatro estudantes observam a interação, sentados em um semicírculo em um ambiente de paredes brancas. Um quadro branco ao fundo contém anotações manuscritas sobre uma turma e o tema ‘Liderança e Aprendizagem’."/>
                </div>
                <h3><i>Talk show</i> inspira jovens sobre empreendedorismo e protagonismo</h3>
                <p>A <strong>turma 13183</strong>, da instrutora Leila da Silva, do polo de Brasília (DF), participou de um <i>talk show</i> com Juliana Pereira, jovem que se tornou empreendedora na área de produção de vídeos. Ela compartilhou desafios, aprendizados e o valor de acreditar no próprio potencial.</p>
                <p>O formato interativo incentivou os jovens a fazer perguntas, refletir sobre o mercado e desenvolver competências como comunicação e criatividade, fortalecendo o protagonismo juvenil.</p>
            </div>
            <div class="divisor divisor-blue"></div>

            <div class="article">
                <div class="photo photo-right">
                    <img src="img/img10.jpg" title="Um grupo grande e diversificado de jovens, acompanhado por dois adultos, posa informalmente para uma foto em um ambiente interno bem iluminado. A maioria dos jovens usa camisetas azul-marinho do Espro, e o fundo vibrante exibe um grande mural de arte urbana abstrata em tons de azul e preto. O grupo está sorridente, com alguns agachados na frente e outros em pé. "/>
                </div>
                <h3>Jovens promovem ação sobre doação de sangue</h3>
                <p>A <strong>turma 16401</strong>, da unidade de Campinas (SP), sob orientação da instrutora Amanda Prates, promoveu uma inspiradora ação de conscientização sobre doação de sangue, com a presença de um representante do projeto “16 Doa Sangue – Salva Vidas”, do Hemocentro da Unicamp.</p>
                <p>O encontro uniu informação e solidariedade, despertando nos jovens o compromisso com o próximo e reforçando a importância do gesto de doar como expressão de amor e cidadania.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/12jgHn4xBlrhXL1tK8Mz7lLRXVaWJgInm" target="_blank">Confira fotos da ação</a>
            </div>
        </div>

        <div class="box  box-blue wrapper">
            <div class="article-title">
                <h1>Gestores do Futuro em ação!</h1>
            </div>
            <div class="article">
                <!--div class="photo photo-right">
                    <img class="rounded" src="img/img11.jpg" title="Foto de um grupo com cerca de vinte jovens adultos, posando juntos em um ambiente interno. Eles estão em pé e sentados em diferentes níveis. Ao fundo, há um painel ou tela grande com as palavras ‘ADEUS, SAPO’ em destaque, em cores vibrantes." />
                </div-->
                <h3>Cinema solidário transforma ações em impacto social</h3>
                <p>A <strong>turma 15285</strong>, do polo de Osasco (SP), desenvolve o projeto Solicine, um cinema solidário que é parte integrante do Gestores do Futuro. O projeto promove sessões cinematográficas cuja entrada consiste na arrecadação de itens, posteriormente revertidos a instituições parceiras. As ações já beneficiaram ONGs, campanhas de higiene e o projeto Espro em Ação.</p>
                <p>Recentemente, os jovens lançaram sua primeira produção autoral: um minidocumentário sobre o Setembro Amarelo e a valorização da vida que foi produzido com o apoio da assistente social Katya Verardi Schezzari Cordero, consolidando o Solicine como um espaço de empatia, arte e protagonismo social.</p>
                <a class="btphotos" href="https://drive.google.com/file/d/1o0xC8XdiZo1zwdY4Wsn1xjE0rItcSjwB/view?usp=drive_link" target="_blank">Assista ao minidocumentário</a>
            </div>
            <div class="divisor divisor-white"></div>

            <div class="article">
                <div class="photo photo-right">
                    <img class="rounded" src="img/img11.jpg" title="Foto de um grupo alegre de crianças e jovens adultos reunidos em celebração ao Dia das Crianças, visível na decoração de fundo com tema colorido e borboletas. As crianças e três dos jovens têm o rosto pintado com maquiagens festivas e de palhaço. Todos estão sorrindo." />
                </div>
                <h3>Ações sociais em Recife unem solidariedade e protagonismo juvenil</h3>
                <p>Duas turmas da unidade de Recife (PE), a <strong>13529</strong> (UPra Desenvolvimento) e a <strong>16231</strong><i> (NewZ)</i>, realizaram ações sociais que refletem o comprometimento dos jovens com o projeto Gestores do Futuro. As ações beneficiaram 82 crianças, promovendo momentos de alegria, integração e aprendizado. As atividades incluíram brincadeiras, dinâmicas e entrega de brinquedos e lanches.</p>
                <p>As iniciativas reforçam valores como empatia, cooperação e responsabilidade social, evidenciando o compromisso do Espro em formar jovens conscientes e engajados com o bem coletivo.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1-IJLKj0if4PZ7fgOERkBQWeu_uebu4vk" target="_blank">Veja fotos desse dia especial</a>
            </div>
        </div>

        <!--div class="box  box-white wrapper">
            <div class="article-title">
                <h1>FMT em foco!</h1>
            </div>
            <div class="article">
                <div class="photo photo-left">
                    <img src="img/img7.jpg" title="Foto de grupo com cerca de 30 jovens negros, sentados e em pé num auditório, segurando diplomas e certificados. Eles vestem camisetas azuis escuras e há algumas pessoas adultas em pé atrás deles, perto de um púlpito com o logo do SESC." />
                </div>
                <h3>Formatura celebra conquistas da turma e destaca inclusão e protagonismo em BH</h3>
                <p>No dia 8 de outubro, ocorreu a formatura da turma de FMT – Diversidade, da instrutora Elivania Pereira, voltada para jovens negros, que reuniu 34 jovens concluintes dessa importante etapa com dedicação e entusiasmo. O curso, baseado na valorização da diversidade, na equidade e no respeito às diferenças, tornou-se um espaço de transformação pessoal e profissional, fortalecendo a autoconfiança e o protagonismo dos participantes.</p>
                <p>Durante a cerimônia, os formandos emocionaram o público com depoimentos e vídeos que retrataram a trajetória vivida ao longo do curso. O momento foi marcado por gratidão, aprendizado e orgulho das conquistas. <i>“Vocês nos proporcionaram conhecimento e, acima de tudo, a confiança de que somos capazes de enfrentar qualquer desafio que o futuro nos reserve”</i>, declarou o jovem Gabriel Marques Souza, representando o sentimento da turma. O evento reforçou o papel do Espro como um espaço de acolhimento, escuta e pertencimento para a juventude.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1LQxsSIQnm9cuLfxrF4IDVhudkRRXgf5E" target="_blank">Confira os registros da turma</a>
            </div>
            <div class="divisor divisor-blue"></div>

            <div class="article">
                <div class="photo photo-right">
                    <img src="img/img8.jpg" title="Foto de um grupo com cerca de 30 jovens e alguns adultos, a maioria vestindo camisetas azuis, em um ambiente interno de um museu. Eles estão em frente a uma mesa com máquinas de escrever e equipamentos antigos. Ao fundo, há um mural com a inscrição ‘SLU - Serviço de Limpeza Urbana’ e a frase ‘Por uma Brasília mais limpa e sustentável!’." />
                </div>
                <h3>Jovens aprendem sobre reciclagem e compostagem em visita ao Museu da Limpeza Urbana</h3>
                <p>As <strong>turmas 16595</strong> e <strong>16598</strong> do curso FMT – Educação Ambiental, acompanhadas pela instrutora Antonia Dantas, pela assistente social Ângela de Fátima e pela auxiliar administrativa Luana Rodrigues, participaram de uma visita ao Museu da Limpeza Urbana, em Brasília (DF). O espaço, que reúne mais de 600 peças e objetos históricos, conta a trajetória da capital federal por meio dos resíduos recolhidos ao longo de seus mais de 60 anos.</p>
                <p>Durante a atividade, os jovens aprenderam sobre reciclagem, descarte consciente e compostagem, descobrindo como restos de alimentos podem se transformar em adubo natural. A experiência despertou reflexões sobre sustentabilidade e preservação ambiental. <i>“Aprendi bastante com a compostagem, que é importante para reduzir resíduos e melhorar a qualidade do solo”</i>, contou Emanuela Azevedo Souza, da <strong>turma 16595</strong>. Já Melissa Prista Lamarca, da <strong>turma 16598</strong>, destacou: <i>“Saímos do museu motivados a aplicar em casa e na escola o que aprendemos, contribuindo para um futuro mais sustentável”</i>.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1i6PFsR-ILRgVNiQUoEQvMI2eUQTtIzAd" target="_blank">Veja fotos e leia o relato na íntegra</a>
            </div>
        </div>

        <div class="box  box-lightblue wrapper">
            <div class="article">
                <div class="article-title-icon">
                    <h3 class="icontitle">Só mais um minutinho</h3>
                </div>
                <div class="photo photo-left">
                    <img src="img/img9.jpg" title="Foto de grupo com muitas pessoas, jovens e adultos, em um ambiente corporativo moderno. A maioria veste camisetas pretas com a marca ‘Deloitte’ ou ‘Impact Week’ visível em cartazes e no fundo. O grupo está posicionado no chão e em degraus, olhando para a câmera e sorrindo." />
                </div>
                <h3>Jovens participam de vivência sobre recrutamento e seleção na Deloitte de Tecnologia</h3>
                <p>No dia 14 de outubro de 2025, os jovens participaram de uma atividade especial na Deloitte de Tecnologia, no Centro Empresarial da Faria Lima, em São Paulo (SP). A visita proporcionou uma imersão prática no processo de recrutamento e seleção de uma das maiores empresas do setor, permitindo aos participantes compreender como funciona a dinâmica de contratação em um ambiente corporativo real.</p>
                <p>O instrutor Edson Brasil destacou a importância da experiência para o desenvolvimento profissional dos jovens e agradeceu à equipe do Espro: Tainã, Fábio, Maísa e ao time de Desenvolvimento Social, pelo apoio na realização da ação. Segundo ele, momentos como esse reforçam o propósito da instituição: abrir caminhos e inspirar futuros promissores para a juventude.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1kIaQPIDW9G9nTgMPm8qiExietWYqI7lF" target="_blank">Confira registros da vivência</a>
            </div>
            <div class="divisor divisor-blue"></div>

             <div class="article">
                <div class="photo photo-right">
                    <img src="img/img10.jpg" title="Foto de grupo grande, composta por muitos jovens e alguns adultos, tirada em uma sala que parece ser uma sala de treinamento ou um espaço de eventos. O grupo está de pé e alguns agachados na frente de uma tela de projeção branca. A sala tem paredes de azulejos brancos e uma decoração simples com cortinas amarelas penduradas. Há várias cadeiras plásticas vermelhas dispostas na parte inferior da foto." />
                </div>
                <h3>Jovens do polo de Itaguaçu (SP) exploram produção musical e aprendem sobre PDI em encontros inspiradores</h3>
                <p>Os jovens da <strong>turma 16525</strong>, orientados pela instrutora Fernanda Mariano, participaram de uma oficina em parceria com a Fábrica de Cultura do Jardim Peri, conhecendo de perto o universo da produção musical. Durante a atividade, puderam desenvolver a criatividade, entender as diferentes áreas de atuação na carreira e experimentar, na prática, como é o dia a dia desse profissional, despertando grande interesse e novas perspectivas.</p>
                <p>Além disso, as <strong>turmas 15273</strong> e <strong>13310</strong>, com as instrutoras Fernanda Mariano e Fernanda Machado, receberam Leonardo Nascimento Góis, analista de RH da Rodonaves, para um bate-papo sobre o Plano de Desenvolvimento Individual (PDI). O encontro abordou a importância do protagonismo na carreira e proporcionou reflexões valiosas sobre desenvolvimento profissional, motivando os jovens a traçar seus próprios caminhos no mundo do trabalho.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1J9v1JEDs30H9iDvgYLxJNRLpEtCHq0H2" target="_blank">Veja fotos da oficina</a>
            </div>
            <div class="divisor divisor-blue"></div>

             <div class="article">
                <div class="photo photo-left">
                    <img src="img/img11.jpg" title="Foto em sala de treinamento onde cinco jovens estão de pé em frente a um quadro branco, possivelmente apresentando um trabalho, com a maioria vestindo camisetas azuis escuras com textos em branco. Há outros jovens sentados na lateral e na frente, assistindo à apresentação." />
                </div>
                <h3>Jovens vivenciam protagonismo em simulação de processo seletivo</h3>
                <p>Os jovens da unidade de Belo Horizonte (MG), sob orientação do instrutor Cristiano Patrocínio, participaram de uma atividade prática de gestão de pessoas, na qual assumiram o papel de recrutadores em empresas inspiradas em organizações reais, como TOTVS e Google. Cada grupo construiu um processo seletivo completo, incluindo dinâmica em grupo, teste técnico ou comportamental e entrevistas individuais ou coletivas, definindo cargos, competências e estratégias de seleção.</p>
                <p>A experiência permitiu aos jovens desenvolver protagonismo, pensamento estratégico, trabalho em equipe, comunicação e tomada de decisão, além de oferecer uma visão prática dos bastidores das contratações no mercado de trabalho. A atividade reforçou a importância do aprendizado ativo e da vivência de situações reais para o desenvolvimento profissional.</p>
                <a class="btphotos" href="https://drive.google.com/drive/folders/1tHy3jRyyS6v5BBjTYhq_iXwdCHo8bZtv" target="_blank">Confira registros da dinâmica</a>
            </div>
        </div-->

        <div class="vejamais">
            <h1><a href="../arquivo.html">Confira as edições anteriores aqui</a></h1>
        </div>

        <div class="foot-content">
            <div class="inner-foot wrapper">
                    <div class="foot-text">
                        <h2>Deixe sua sugestão</h2>
                        <p>E aí, curtiu o novo formato e as informações do Minuto do Instrutor? Lembre-se de compartilhar com a gente o que tá rolando em sua unidade e dê sugestões de conteúdo!</p>
                        <p>Deixe um comentário aqui 👇🏼. Sua opinião é importante para nós!</p>

                        <div class="formulario">
                            <form action="https://formspree.io/f/xdovpljw" method="POST">
                                <input type="text" name="nome" class="nome" id="nome" placeholder="Nome"  required/>
                                <input type="email" name="email" class="email" id="email" placeholder="E-mail" required/>
                                <!--input type="url" name="url" class="url" id="url" placeholder="Link (caso tenha)" /-->
                                <textarea name="assunto" id="mensagem" class="mensagem" placeholder="Deixe seu comentário" required></textarea>
                                <input type="submit" name="enviar" class="enviar" id="enviar" value="Enviar" />
                            </form>
                        </div>
                </div>
                <!--div class="foot-button">
                    <a class="botao" href="#">Acesse aqui</a>
                </div>
                <div class="foot-bgimage"></div-->
            </div>
            <div class="clearfix"></div>
        </div>
        
        <footer>
            <div class="inner-footer wrapper">
                    <div class="footerlogo">
                        <div class="logotipo"><img src="img/logo.png" /></div>
                    </div>
            </div>
        </footer>
    </section>
</body>
</html>