/*@media only screen and (max-width: 1000px) {

    body {
        font-size: .9em !important;
    }

    header {

    }

    .wrapper {
    }

 .destaque-right, .destaque-left {
   width: 100% !important;
   margin-left: 0 !important;
   margin-right: 0 !important;
   margin-bottom: 5% !important;
 }

 .foot-content h2 {
    font-size: 1.2em !important;
    margin-bottom: 20px !important;
}

.foot-button a {
    font-size: 1em !important;
}

.formulario input, .formulario textarea {
   width: 91% !important;
}

.formulario input.enviar {
    width: 125px !important;
}*/