@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    
}

.clearfix {
    clear : both;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
    letter-spacing: .01em;
    color: #1f1f1f;
    background:  #e9e9e9;
    overflow-x: hidden;
    font-weight: 400;
}

header {
    position: relative;
    z-index: 1;
}

p, a {
    margin-bottom: 30px;
}

a {
    color: #15AF97;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    margin-bottom: 30px;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

.logotipo {
    position: absolute;
    top: 100px;
    left: 150px;
}

.logotipo img {
    width  : 125px;
    height: auto;
}

.divisao {
    background: #f3f3f3;
    position: relative;
}

.lightblue {
    background: #205D91;
}

.darkblue {
    background: #1A2B4C;
}

.lightgreen {
    background: #15AF97;
}

.yellow {
    background: #FBBB21;
}

.intro {
    background: url(../img/1.png);
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
}

.introducao {
    max-width: 500px;
    position: absolute;
    top: 50%;
    transform: translate(30%, -50%);
}

.introducao h1 {
    font-size: 4em;
    color: #205D91;
    line-height: 1em;
}

.introducao p {
    color: #ffffff;
}

.sessao {
    height: 100vh;
    position: relative;
}

.comments {
    max-width: 750px;
    max-height: 600px;
    overflow-y: scroll;
    padding-right: 25px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.rightside {
    float: right;
}

.comentario {
    background: rgba(255, 255, 255, 0.8);
    padding: 50px 60px;
    margin: 25px 0;
    border-radius: 20px;
}

.comentario h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FF004A;
}

.comentario h4 {
    font-family: "Lato", sans-serif;
    margin-bottom: 0px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1A2B4C;
    font-size: 0.8em;
    line-height: 2em;
}

.comentario p {
    margin: 0;
    margin-top: 25px;
}

.comments::-webkit-scrollbar {
  width: 2px;
}

.comments::-webkit-scrollbar-track {
  background-color: #1A2B4C;
  border-radius: 100px;
}

.comments::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 6px solid rgba(0, 0, 0, 0.18);
  border-left: 0;
  border-right: 0;
  background-color: #00A1CB;
}

.dados {
    border-left: 3px solid #1A2B4C;
    padding-left: 15px;
}

.name-filial {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, 0);
}

.name-filial2 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, 0);
}

.name-filial h1 {
    font-size: 3em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 25px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.name-filial2 h1 {
    font-size: 3em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 25px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.bgfilial {
    background-size: cover;
    width: 44%;
    height: 100vh;
    position: absolute;
    right: 0;
}

.bgfilial-sp {
    background: url(../img/filial-sp.png) no-repeat top left;
    right: 0;
}

.bgfilial-ead {
    background: url(../img/filial-ead.png) no-repeat top left;
    right: 0;
}

.bgfilial-campinas {
    background: url(../img/filial-campinas.png) no-repeat top right;
    left: 0;
}

.bgfilial-curitiba {
    background: url(../img/filial-curitiba.png) no-repeat top left;
    right: 0;
}

.bgfilial-bh {
    background: url(../img/filial-bh.png) no-repeat top right;
    left: 0;
}

.bgfilial-rj {
    background: url(../img/filial-rj.png) no-repeat top left;
    right: 0;
}

.bgfilial-recife {
    background: url(../img/filial-recife.png) no-repeat top right;
    left: 0;
}

.bgfilial-brasilia {
    background: url(../img/filial-brasilia.png) no-repeat top left;
    right: 0;
}

.bgfilial-poa {
    background: url(../img/filial-poa.png) no-repeat top right;
    left: 0;
}

.foot-content {
    padding: 75px 0;
    background: #1f1f1f;
    color: #ffffff;
    position: relative;
}

.foot-content h2 {
    font-size: 1.5em;
    color: #FBBB21;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

.foot-button {
    margin-top: 75px;
}

.foot-button a {
    color: #FBBB21;
    text-transform: uppercase;
    font-size: 1.3em;
    text-decoration: none;
    padding: 17px 25px;
    border: 2px solid  #FBBB21;
    border-radius: 15px;
    transition: 0.5s;
}

.foot-button a:hover {
    color: #1f1f1f;
    background: #FBBB21;
    transition: 0.5s;
}

.foot-text {
}

footer {
    background: #101010;
    width: 100%;
    height: 90px;
    position: relative;
}

.footerlogo .logotipo {
    left: 50%;
    margin-left: -62px;
    top: 25px;
}

.fomulario form {
    width: 100%;
}

.formulario input, .formulario textarea {
    width: 98%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #101010;
    border: 1px solid #303030;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 1em;
}
.formulario input:focus, .formulario textarea:focus {
    border: 1px solid #FBBB21;
    outline: none;
}

.formulario textarea {
    min-height: 200px;
    resize: vertical;
}

.formulario input.enviar {
    width: 125px;
    height: 50px;
    background: #FBBB21;
    text-transform: uppercase;
    color: #101010;
    cursor: pointer;
    font-weight: bold;
}

.formulario input.enviar:hover {
    color: #ffffff;
}

.formulario input::placeholder, .formulario textarea::placeholder {
    color: #FBBB21;
    font-weight: bold;
}


