@media only screen and (max-width: 1000px) {

    body {
        font-size: .9em !important;
    }

    header {
    }

    header .logotipo {
      top: 50px;
      left: 50px;
    }

    .introducao {
          transform: translate(5%, -50%) !important;
          max-width: 350px !important;
    }

    .portrait {
        width: 100%;
    }

    .comments {
      max-width: 100% !important;
    }

    .name-filial, .name-filial2  {
      top: 4% !important;
      left: 0 !important;
    }

    .name-filial h1, .name-filial2 h1 {
      font-size: 2em !important;
    } 

 .foot-content h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.foot-button a {
    font-size: 1em;
}

.formulario input, .formulario textarea {
   width: 91% !important;
}

.formulario input.enviar {
    width: 125px !important;
}

}

@media only screen and (max-width: 1300px) {

   .name-filial h1, .name-filial2 h1 {
      font-size: 2em !important;
    } 

}